* {
    box-sizing: border-box;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
header {
    margin-top: 63px;
}
.logo {
    display: flex;
    width: fit-content;
    font-size: 80px;
    line-height: 94px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}
.logo span {
    color: hsl(180, 88%, 43%);
}
.header-navbar {
    margin-top: 38px;
}
.header-menu {
    display: flex;
    justify-content: center;
    background: #35444f;
    list-style: none;
}
.header-menu li {
    padding: 26px 0 19px;
    border-left: 1px solid #ffffff;
}
.header-menu li:last-child {
    border-right: 1px solid #ffffff;
}
.header-menu a {
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    padding: 26px 40px 19px;
}
.header-menu a:hover {
    background: #222f3a;
}
main {
    display: flex;
    justify-content: space-between;
    margin-top: 67px;
}
.sidebar {
    width: calc(30% - 26px);
    border: 1px solid #000000;
    height: fit-content;
}
.sidebar-element {
    display: flex;
}
.sidebar-element a {
    width: 100%;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    text-decoration: none;
    padding: 27px 0 27px 44px;
}
.sidebar-element a:hover {
    background: #dbdbdb;
    color: #000000;
    padding-left: 70px;
}
.main-content {
    width: calc(70% - 26px);
}
.image {
    display: flex;
    height: 529px;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
}
.main-content-text {
    font-size: 18px;
    line-height: 24px;
    margin-top: 37px;
}
.main-content-text p + p {
    margin-top: 34px;
}
footer {
    margin-top: 54px;
}
.footer-navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(99, 105, 110, 0.48);
}
.footer-element {
    padding: 21px 0 21px;
}
.footer-element a,
.copyright {
    font-size: 28px;
    line-height: 28px;
    color: #0c1927;
    text-decoration: none;
}
.footer-element a:hover {
    color: #3181a6;
    border-bottom: 1px solid #3181a6;
    padding-bottom: 13px;
}
.copyright {
    padding-left: 135px;
}
