.product {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    background: rgba(104, 99, 99, 0.8);
    &-img {
        width: 100%;
        margin-top: 20px;
    }
    &-title {
        font-size: 24px;
    }
    &-price {
        font-size: 18px;
    }
    &-btn {
        font-size: 18px;
        cursor: pointer;
        padding: 10px;
        border-radius: 20px;
        border: none;
        background: rgba(10, 165, 43, 0.8);
    }
}
.favourite {
    fill: rgba(98, 107, 13, 0.8);
}
.delete-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
