*,
*:before,
*:after {
    box-sizing: border-box;
}
@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-VariableFont_wdth\wght.woff2), format("woff2");
}
body {
    font-family: "Open Sans", sans-serif;
    background: #f2f2f2;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.general-title {
    font-size: 27px;
    font-weight: 700;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18b4cf;
}
#scrollTop {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 100px;
}
header {
    background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
        ),
        url(../img/header-bg.jpeg) center no-repeat;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background: #313131;
}
.nav-logo {
    display: flex;
    align-items: center;
}
.nav-logo a {
    margin: 0 29px;
}
.nav-logo p {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #ffffff;
}
.nav-menu {
    display: flex;
    align-items: center;
}
.nav-menu .menu-element {
    display: inline-block;
}
.menu-element a {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}
.menu-element a:hover {
    color: #14b9d5;
}
.menu-element {
    margin-right: 35px;
}
.menu-element:last-child {
    margin-right: 0;
}
.search {
    cursor: pointer;
}
.search img {
    padding: 27px;
    background: #000000;
}
.header-title {
    padding: 164px 0 74px;
}
.header-title h1 {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    color: #ffffff;
}
.buttons {
    display: flex;
    justify-content: center;
    margin-top: 44px;
}
.btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 6px;
}
.subscribe {
    background: #89ca62;
    padding: 17px 19px;
    margin-right: 20px;
}
.best-articles {
    background: #14b9d5;
    padding: 17px 30px;
}
.posts {
    padding-top: 50px;
    padding-bottom: 74px;
}
.posts-title {
    margin-bottom: 52px;
}
.masonry {
    display: flex;
    flex-flow: column wrap;
    max-height: 1000px;
    width: 100%;
}
.masonry-brick {
    background: #ffffff;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    margin: 0 30px 32px 0;
}
.masonry-brick h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353a3d;
    margin-top: 20px;
}
.masonry-brick:nth-child(1) {
    height: 320px;
    order: 1;
}
.masonry-brick:nth-child(2) {
    height: 441px;
    order: 2;
}
.masonry-brick:nth-child(3) {
    height: 355px;
    margin: 0 0 32px 0;
    order: 3;
}
.masonry-brick:nth-child(4) {
    height: 320px;
    order: 1;
}
.masonry-brick:nth-child(5) {
    height: 309px;
    order: 2;
}
.masonry-brick:nth-child(6) {
    height: 441px;
    margin: 0;
    order: 3;
}
.clients {
    background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
        ),
        url(../img/parallax-bg.jpeg) center no-repeat;
}
.clients-wrap {
    padding: 106px 0 191px;
}
.clients-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
.clients-hr {
    width: 60px;
    height: 3px;
    margin: 87px auto 106px;
    background: #18b4cf;
    border: none;
}
.clients-logo {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
}
.top-rated {
    padding-top: 50px;
}
.top-rated-title {
    margin-bottom: 52px;
}
.top-rated-wrap {
    display: grid;
    grid-auto-flow: column;
}
.hot-news {
    padding-top: 50px;
}
.hot-news-title {
    margin-bottom: 51px;
}
.hot-news-wrap {
    display: grid;
    grid-row-gap: 44px;
    grid-template-areas:
        "grid-item1 grid-item1 grid-item1 grid-item2"
        "grid-item3 grid-item3 grid-item4 grid-item4"
        "grid-item5 grid-item5 grid-item6 grid-item6"
        "grid-item7 grid-item8 grid-item8 grid-item8";
}
.hot-news-wrap > div {
    background: #f9f7f7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.grid-item-general h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #353a3d;
}
.grid-item-general p {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5b6469;
}
.grid-item1 {
    display: flex;
    grid-area: grid-item1;
}
.grid-item1 h3 {
    margin: 41px 24px 14px 0;
}
.grid-item1 p {
    margin-right: 24px;
}
.grid-item2 {
    grid-area: grid-item2;
    margin-left: 35px;
}
.grid-item2 h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353a3d;
    margin-top: 14px;
}
.grid-item3 {
    grid-area: grid-item3;
    margin-right: 60px;
}
.grid-item4 {
    grid-area: grid-item4;
}
.grid-item5 {
    grid-area: grid-item5;
    margin-right: 60px;
}
.grid-item6 {
    grid-area: grid-item6;
}
.big-grid-item-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #353a3d;
    margin: 14px 27px 15px 0;
}
.big-grid-item-subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5b6469;
    margin: 0 14px 0;
}
.grid-item7 {
    grid-area: grid-item7;
    margin-right: 35px;
}
.grid-item7 h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353a3d;
}
.grid-item8 {
    display: flex;
    grid-area: grid-item8;
}
.grid-item8 h3 {
    margin: 41px 25px 14px;
}
.grid-item8 p {
    margin-right: 24px;
}
.hot-news-btn-wrap {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
footer {
    margin-top: 77px;
    background: #000000;
}
.footer-wrap {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 30px;
}
.footer-wrap p {
    font-size: 13px;
    line-height: 13px;
    color: #ffffff;
}
