* {
    margin: 0;
    padding: 0;
}
body {
    width: 1280px;
    margin: 0 auto;
    background-color: #000;
}
.header-nav {
    display: flex;
    justify-content: space-evenly;
    margin: 25.5px 0;
}
.header-nav li {
    display: inline-block;
}
.header-nav li + li {
    padding-left: 72px;
}
.header-nav a {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}
.theme-btn {
    cursor: pointer;
}
.header-image {
    background: url(../img/phone.png) no-repeat;
    height: 790px;
}
main {
    margin-top: 50px;
    text-align: center;
}
main p + p {
    margin: 28px 0 66px;
}
.title {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #fff;
    margin: 49px 0 38px;
}
.text {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #fff;
}
.btn {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 18px 43px;
    background: #8a2c2c;
    border-radius: 4px;
    border: none;
}
footer {
    margin-top: 82px;
}
.copyright {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #fff;
    float: right;
    margin: 0 105px 29px 0;
}
