.main-grid-viewbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.main-card-viewbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
