@font-face {
    font-family: "Ubuntu";
    src: url(../fonts/Ubuntu-Regular.woff2) format("woff2");
}
*, *::after, *::before{
    box-sizing: border-box;
}
body{
    background: url(../img/bg.png) no-repeat;
    background-size: cover;
    font-family: "Ubuntu", sans-serif;
}
header{
    padding: 18px 0;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-content-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}
.logo h1{
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
}
.logo h1:hover{
    color: #01813F;
}
.header-nav{
    display: flex;
    align-items: center;
}
.links {
    display: flex;
    align-items: center;
    column-gap: 25px;
}
.links a:hover svg path{
    fill: #01813F;
}
.welcome{
    display: flex;
    align-items: center;
}
.welcome::before{
    content: "";
    border-left: 1px solid rgba(255, 255, 255, 0.9);
    height: 19px;
    margin: 0 25px 0;
    opacity: 0.5;
}
.welcome p, .welcome p a{
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}
.welcome a:hover{
    color: #01813F;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 62px);
}
.authorization{
    position: relative;
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.authorization-wrap{
    padding: 31px 60px 38px 60px;
}
.sign-up-wrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.sing-up{
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}
.sing-up::before{
    position: absolute;
    left: 0;
    display: inline-block;
    content: "";
    width: 18px;
    height: 18px;
    background: #3CB878;
}
.log-in{
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}
.log-in:hover{
    text-decoration: underline;
}
.buttons{
    display: flex;
    justify-content: space-between;
}
.btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 160px;
    height: 48px;
}
.btn p{
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.fab{
    color: #fff;
    font-size: 24px;
}
.fab::after{
    content: "";
    border-right: 1px solid #0A162F;
    opacity: 0.1;
    margin-left: 18px;
}
.facebook{
    background: #305DB8;
    border-radius: 3px;
}
.facebook:hover{
    background: #022263;
}
.google{
    background: #DF4A32;
    border-radius: 3px;
}
.google:hover{
    background: #AB1F09;
}
.log-in-wrap::after{
    display: block;
    content: "";
    border-bottom: 1px solid #F2F2F2;
    width: 100%;
    margin-top: 40px;
}
.inputs{
    display: flex;
    position: relative;
    flex-direction: column;
    row-gap: 16px;
    margin-top: 17px;
}
.inputs::before{
    position: absolute;
    top: -25px;
    left: 48%;
    content: "or";
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    background: #fff;
}
.registration{
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    height: 44px;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    padding-left: 20px;
}
.registration::placeholder{
    color: #BEBEBE;
}
.registration:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
#therms-conditions, .registration-checkbox{
    cursor: pointer;
}
.registration-checkbox{
    font-size: 14px;
    line-height: 14px; 
    color: #434343;
}
.registration-checkbox a{
    color: rgb(60, 184, 120);;
}
.registration-checkbox a:hover{
    text-decoration: underline;
}
.create-acc{
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    padding: 16px 0 16px;
}
.create-acc:hover{
    background: #01813F;
}