@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.woff2) format("woff2");
}
body {
    background: url(../img/background.png) no-repeat;
    background-size: cover;
    font-family: "Roboto";
}
h1,
h2,
p,
a {
    color: #fff;
}
.container {
    width: 1028px;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
}
.logo a {
    display: flex;
    align-items: center;
}
.logo-hover {
    visibility: hidden;
    position: absolute;
}
.logo a:hover h1,
.logo a:hover .logo-hover {
    visibility: visible;
    color: #f26522;
}
.logo a:hover .logo-image {
    visibility: hidden;
}
.logo-title {
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    margin-left: 8px;
    width: 140px;
    text-transform: uppercase;
}
.logo-title span {
    font-size: 18px;
    line-height: 18px;
}
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.contacts a {
    font-size: 18px;
    line-height: 18px;
}
.contacts a:hover {
    color: #f26522;
}
.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 37px;
    margin-top: 17px;
}
.content-item {
    position: relative;
}
.content-item a:hover .content-hover,
.content-item a:hover h2 {
    visibility: visible;
    color: #f26522;
}
.content-hover {
    visibility: hidden;
    position: absolute;
    top: 165px;
    left: 0;
    background: #f26522;
    width: 100%;
    height: 55px;
}
.content-hover-wrap {
    padding: 7px 14px 12px 16px;
}
.from {
    font-size: 10px;
    line-height: 10px;
}
.details-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}
.details {
    font-size: 14px;
    line-height: 14px;
}
.details::after {
    content: url(../img/arrow.svg);
    margin-left: 16px;
}
.content-item h2 {
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    margin-top: 20px;
}
footer.container {
    margin: 50px auto 17px;
}
footer p {
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}
