.footer {
  background: #000;
  text-align: center;
}
.footer-wrap {
  padding: 38px 0 48px;
}
.footer-wrap .footer-title {
  color: #fefefe;
  margin-bottom: 8px;
}
.footer-wrap .footer-subtitle {
  font-size: 12px;
  line-height: 20px;
  color: #b9b9b9;
}
.footer-wrap .footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 6px;
       column-gap: 6px;
  margin: 26px 0;
}
.footer-wrap .footer-menu li {
  border-radius: 50%;
}
.footer-wrap .footer-menu .rss {
  border: 2px solid #f8902e;
}
.footer-wrap .footer-menu .rss .fa-rss {
  color: #f8902e;
}
.footer-wrap .footer-menu .facebook {
  border: 2px solid #39599f;
}
.footer-wrap .footer-menu .facebook .fa-facebook-f {
  color: #39599f;
}
.footer-wrap .footer-menu .twitter {
  border: 2px solid #45b0e3;
}
.footer-wrap .footer-menu .twitter .fa-twitter {
  color: #45b0e3;
}
.footer-wrap .footer-menu .dribbble {
  border: 2px solid #d97ab0;
}
.footer-wrap .footer-menu .dribbble .fa-dribbble {
  color: #d97ab0;
}
.footer-wrap .footer-menu .pinterest {
  border: 2px solid #cc212c;
}
.footer-wrap .footer-menu .pinterest .fa-pinterest-p {
  color: #cc212c;
}
.footer-wrap .footer-menu .fab,
.footer-wrap .footer-menu .fas {
  padding: 12px;
}
.footer-wrap .contacts {
  font-size: 14px;
  color: #b9b9b9;
}

@media (min-width: 768px) {
  .footer-wrap .footer-subtitle {
    font-size: 16px;
  }
  .footer-wrap .contacts {
    font-size: 16px;
  }
}
/*# sourceMappingURL=footer.css.map */
