.header-wrap {
  padding: 23px 0 38px;
}
.header-wrap .header-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-wrap .navbar-burger {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 23px;
}
.header-wrap .navbar-burger .fa-bars,
.header-wrap .navbar-burger .fa-times {
  display: none;
  font-size: 20px;
  color: #fff;
}
.header-wrap .navbar-burger .burger-btn {
  width: 44px;
  height: 37px;
  background: #000;
  border: 0;
}
.header-wrap .navbar-burger .header-menu {
  position: absolute;
  top: 12%;
  display: none;
}
.header-wrap .navbar-burger .header-menu li {
  width: 182px;
  background: #f5f5f5;
}
.header-wrap .navbar-burger .header-menu li .menu-element {
  font-size: 11px;
  line-height: 22px;
  text-transform: uppercase;
  color: #4e4e4e;
  display: block;
  padding: 5px 0 5px 13px;
  width: 100%;
}
.header-wrap .navbar-burger .header-menu li .menu-element:active {
  color: #57a4a4;
  background: #e5e5e5;
}
.header-wrap .navbar-burger .burger-active {
  display: block;
}
.header-wrap .navbar {
  display: none;
  margin-bottom: 43px;
}
.header-wrap .navbar .header-menu {
  display: flex;
  justify-content: space-evenly;
}
.header-wrap .navbar .header-menu .menu-element {
  font-size: 11px;
  line-height: 22px;
  text-transform: uppercase;
  color: #4e4e4e;
}
.header-wrap .navbar .header-menu .menu-element:hover {
  color: #57a4a4;
}

@media (min-width: 768px) {
  .header-wrap {
    padding: 41px 0 56px;
  }
  .header-wrap .navbar-burger {
    display: none;
  }
  .header-wrap .navbar {
    display: block;
  }
}
/*# sourceMappingURL=header.css.map */
