@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header-wrap {
  padding: 23px 0 38px;
}
.header-wrap .header-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-wrap .navbar-burger {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 23px;
}
.header-wrap .navbar-burger .fa-bars,
.header-wrap .navbar-burger .fa-times {
  display: none;
  font-size: 20px;
  color: #fff;
}
.header-wrap .navbar-burger .burger-btn {
  width: 44px;
  height: 37px;
  background: #000;
  border: 0;
}
.header-wrap .navbar-burger .header-menu {
  position: absolute;
  top: 12%;
  display: none;
}
.header-wrap .navbar-burger .header-menu li {
  width: 182px;
  background: #f5f5f5;
}
.header-wrap .navbar-burger .header-menu li .menu-element {
  font-size: 11px;
  line-height: 22px;
  text-transform: uppercase;
  color: #4e4e4e;
  display: block;
  padding: 5px 0 5px 13px;
  width: 100%;
}
.header-wrap .navbar-burger .header-menu li .menu-element:active {
  color: #57a4a4;
  background: #e5e5e5;
}
.header-wrap .navbar-burger .burger-active {
  display: block;
}
.header-wrap .navbar {
  display: none;
  margin-bottom: 43px;
}
.header-wrap .navbar .header-menu {
  display: flex;
  justify-content: space-evenly;
}
.header-wrap .navbar .header-menu .menu-element {
  font-size: 11px;
  line-height: 22px;
  text-transform: uppercase;
  color: #4e4e4e;
}
.header-wrap .navbar .header-menu .menu-element:hover {
  color: #57a4a4;
}

@media (min-width: 768px) {
  .header-wrap {
    padding: 41px 0 56px;
  }
  .header-wrap .navbar-burger {
    display: none;
  }
  .header-wrap .navbar {
    display: block;
  }
}
.posts-content-wrap {
  margin: 23px 0 42px;
}
.posts-content-wrap .post-content {
  margin-bottom: 28px;
}
.posts-content-wrap .post-content-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  color: #4e4e4e;
  margin: 13px 0 5px;
}
.posts-content-wrap .post-content-subtitle {
  font-size: 11px;
  line-height: 20px;
  color: #7c7c7c;
  margin-top: 0;
}
.posts-content-wrap .post-content-sub-subtitle {
  display: none;
  font-size: 14px;
  line-height: 26px;
  color: #5c5c5c;
}
.posts-content-wrap .post-content:last-child {
  display: none;
}

@media (min-width: 768px) {
  .posts-content-wrap .post-content {
    display: flex;
    -moz-column-gap: 20px;
         column-gap: 20px;
    margin-bottom: 32px;
  }
  .posts-content-wrap .post-content-title {
    font-size: 16px;
    margin: 0 0 5px;
  }
  .posts-content-wrap .post-content-subtitle {
    font-size: 12px;
  }
  .posts-content-wrap .post-content-sub-subtitle {
    display: block;
    max-width: 404px;
  }
  .posts-content-wrap .post-content:last-child {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .posts-content-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.footer {
  background: #000;
  text-align: center;
}
.footer-wrap {
  padding: 38px 0 48px;
}
.footer-wrap .footer-title {
  color: #fefefe;
  margin-bottom: 8px;
}
.footer-wrap .footer-subtitle {
  font-size: 12px;
  line-height: 20px;
  color: #b9b9b9;
}
.footer-wrap .footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 6px;
       column-gap: 6px;
  margin: 26px 0;
}
.footer-wrap .footer-menu li {
  border-radius: 50%;
}
.footer-wrap .footer-menu .rss {
  border: 2px solid #f8902e;
}
.footer-wrap .footer-menu .rss .fa-rss {
  color: #f8902e;
}
.footer-wrap .footer-menu .facebook {
  border: 2px solid #39599f;
}
.footer-wrap .footer-menu .facebook .fa-facebook-f {
  color: #39599f;
}
.footer-wrap .footer-menu .twitter {
  border: 2px solid #45b0e3;
}
.footer-wrap .footer-menu .twitter .fa-twitter {
  color: #45b0e3;
}
.footer-wrap .footer-menu .dribbble {
  border: 2px solid #d97ab0;
}
.footer-wrap .footer-menu .dribbble .fa-dribbble {
  color: #d97ab0;
}
.footer-wrap .footer-menu .pinterest {
  border: 2px solid #cc212c;
}
.footer-wrap .footer-menu .pinterest .fa-pinterest-p {
  color: #cc212c;
}
.footer-wrap .footer-menu .fab,
.footer-wrap .footer-menu .fas {
  padding: 12px;
}
.footer-wrap .contacts {
  font-size: 14px;
  color: #b9b9b9;
}

@media (min-width: 768px) {
  .footer-wrap .footer-subtitle {
    font-size: 16px;
  }
  .footer-wrap .contacts {
    font-size: 16px;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 320px;
  margin: 0 auto;
}

.section-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  color: #4e4e4e;
  margin: 0 0 23px 0;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .section-title {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
/*# sourceMappingURL=index.css.map */
