.posts-content-wrap {
  margin: 23px 0 42px;
}
.posts-content-wrap .post-content {
  margin-bottom: 28px;
}
.posts-content-wrap .post-content-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  color: #4e4e4e;
  margin: 13px 0 5px;
}
.posts-content-wrap .post-content-subtitle {
  font-size: 11px;
  line-height: 20px;
  color: #7c7c7c;
  margin-top: 0;
}
.posts-content-wrap .post-content-sub-subtitle {
  display: none;
  font-size: 14px;
  line-height: 26px;
  color: #5c5c5c;
}
.posts-content-wrap .post-content:last-child {
  display: none;
}

@media (min-width: 768px) {
  .posts-content-wrap .post-content {
    display: flex;
    -moz-column-gap: 20px;
         column-gap: 20px;
    margin-bottom: 32px;
  }
  .posts-content-wrap .post-content-title {
    font-size: 16px;
    margin: 0 0 5px;
  }
  .posts-content-wrap .post-content-subtitle {
    font-size: 12px;
  }
  .posts-content-wrap .post-content-sub-subtitle {
    display: block;
    max-width: 404px;
  }
  .posts-content-wrap .post-content:last-child {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .posts-content-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
/*# sourceMappingURL=main.css.map */
