$title-color: #4e4e4e;
$subtitle-color: #7c7c7c;
$footer-title-color: #fefefe;
$footer-subtitle-color: #b9b9b9;
$rss-color: #f8902e;
$facebook-color: #39599f;
$twitter-color: #45b0e3;
$dribbble-color: #d97ab0;
$pinterest-color: #cc212c;
$menu-hover-color: #57a4a4;
