@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin menu-styles {
    font-size: 11px;
    line-height: 22px;
    text-transform: uppercase;
    color: $title-color;
}
