@import "_constants.scss";
@import "_mixin.scss";
.footer {
    background: #000;
    text-align: center;
    &-wrap {
        padding: 38px 0 48px;
        .footer-title {
            color: #fefefe;
            margin-bottom: 8px;
        }
        .footer-subtitle {
            font-size: 12px;
            line-height: 20px;
            color: $footer-subtitle-color;
        }
        .footer-menu {
            @include flex-center;
            column-gap: 6px;
            margin: 26px 0;
            li {
                border-radius: 50%;
            }
            .rss {
                border: 2px solid $rss-color;
                .fa-rss {
                    color: $rss-color;
                }
            }
            .facebook {
                border: 2px solid $facebook-color;
                .fa-facebook-f {
                    color: $facebook-color;
                }
            }
            .twitter {
                border: 2px solid $twitter-color;
                .fa-twitter {
                    color: $twitter-color;
                }
            }
            .dribbble {
                border: 2px solid $dribbble-color;
                .fa-dribbble {
                    color: $dribbble-color;
                }
            }
            .pinterest {
                border: 2px solid $pinterest-color;
                .fa-pinterest-p {
                    color: $pinterest-color;
                }
            }
            .fab,
            .fas {
                padding: 12px;
            }
        }
        .contacts {
            font-size: 14px;
            color: $footer-subtitle-color;
        }
    }
}
@media (min-width: 768px) {
    .footer {
        &-wrap {
            .footer-subtitle {
                font-size: 16px;
            }
            .contacts {
                font-size: 16px;
            }
        }
    }
}
