@import "_constants.scss";
@import "_mixin.scss";
.header-wrap {
    padding: 23px 0 38px;
    .header-img {
        @include flex-center;
    }
    .navbar-burger {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 23px;
        .fa-bars,
        .fa-times {
            display: none;
            font-size: 20px;
            color: #fff;
        }
        .burger-btn {
            width: 44px;
            height: 37px;
            background: #000;
            border: 0;
        }
        .header-menu {
            position: absolute;
            top: 12%;
            display: none;
            li {
                width: 182px;
                background: #f5f5f5;
                .menu-element {
                    @include menu-styles;
                    display: block;
                    padding: 5px 0 5px 13px;
                    width: 100%;
                }
                .menu-element:active {
                    color: $menu-hover-color;
                    background: #e5e5e5;
                }
            }
        }
        .burger-active {
            display: block;
        }
    }
    .navbar {
        display: none;
        margin-bottom: 43px;
        .header-menu {
            display: flex;
            justify-content: space-evenly;
            .menu-element {
                @include menu-styles;
            }
            .menu-element:hover {
                color: $menu-hover-color;
            }
        }
    }
}
@media (min-width: 768px) {
    .header-wrap {
        padding: 41px 0 56px;
        .navbar-burger {
            display: none;
        }
        .navbar {
            display: block;
        }
    }
}
