@import "_constants.scss";
@import "_mixin.scss";
@import "_reset.scss";
@import "header.scss";
@import "main.scss";
@import "footer.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 320px;
    margin: 0 auto;
}
.section-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: $title-color;
    margin: 0 0 23px 0;
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    .section-title {
        font-size: 16px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}
