@import "_constants.scss";
.posts-content-wrap {
    margin: 23px 0 42px;
    .post-content {
        margin-bottom: 28px;
        &-title {
            font-weight: bold;
            font-size: 14px;
            line-height: 30px;
            color: $title-color;
            margin: 13px 0 5px;
        }
        &-subtitle {
            font-size: 11px;
            line-height: 20px;
            color: #7c7c7c;
            margin-top: 0;
        }
        &-sub-subtitle {
            display: none;
            font-size: 14px;
            line-height: 26px;
            color: #5c5c5c;
        }
    }
    .post-content:last-child {
        display: none;
    }
}
@media (min-width: 768px) {
    .posts-content-wrap {
        .post-content {
            display: flex;
            column-gap: 20px;
            margin-bottom: 32px;
            &-title {
                font-size: 16px;
                margin: 0 0 5px;
            }
            &-subtitle {
                font-size: 12px;
            }
            &-sub-subtitle {
                display: block;
                max-width: 404px;
            }
        }
        .post-content:last-child {
            display: flex;
        }
    }
}
@media (min-width: 1200px) {
    .posts-content-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
