.bi-star {
    cursor: pointer;
    width: 25px;
    height: 25px;
    &-cart {
        float: right;
    }
    &-header {
        width: 40px;
        height: 40px;
        fill: rgba(98, 107, 13, 0.8);
    }
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
    background: rgba(10, 165, 43, 0.8);
    &-title {
        font-size: 28px;
        margin: 0;
    }
    &-cart {
        cursor: pointer;
        width: 40px;
        height: 40px;
    }
    &-icons {
        display: flex;
        column-gap: 50px;
    }
}
