.modal {
    background: #fff;
    width: 50%;
    padding: 20px 50px;
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-footer {
        display: flex;
        justify-content: space-evenly;
    }
    &-bg {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
    }
}
