.modal-bg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}
.modal {
    background: #fff;
    width: 80%;
    padding: 20px 50px;
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-footer {
        display: flex;
        justify-content: space-evenly;
    }
}
