#root {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}
.card-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    border: 1px solid #000;
    max-width: 300px;
}
.card-div {
    text-align: center;
}
